<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Head")
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    
    <link href="~/Skins/TekSpace/snow/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Skins/TekSpace/snow/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Skins/TekSpace/snow/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Chocolat-CSS -->
    <link rel="stylesheet" href="~/Skins/TekSpace/snow/css/chocolat.css" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!--//fonts-->
    <!-- Supportive-JavaScript -->
    <script src="~/Skins/TekSpace/snow/js/modernizr.js"></script>
    <!-- //Supportive-JavaScript -->
</head>
<body>
@Html.Partial("_BodyOpen")
<!--Header-->
<div class="header" id="home">
    <!--Top-Bar-->
    <div class="top-bar">
        <div class="container-fluid">
            <div class="header-nav">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="/">
                            @*@Html.Topic("Template.Logo")*@
                                <img src="~/Skins/TekSpace/Images/Germedusa_logo.png" />
                            </a>
                        </h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                       
                        <nav class="cl-effect-15" id="cl-effect-15">
                            <ul>
                                <li><a href="/" class="active" data-hover="Home">Home</a></li>
                                <li><a href="/t-about.aspx" class="" data-hover="About">About</a></li>
                                @*<li><a href="/t-returns.aspx" class="" data-hover="Warranty">Warranty</a></li>*@
                                <li><a href="#news" class="scroll" data-hover="News">News</a></li>
                                <li><a href="#gallery" class="scroll" data-hover="Downloads">Downloads</a></li>
                                <li><a href="#locations" class="scroll" data-hover="Categories">Categories</a></li>
                                <li><a href="#contact" class="scroll" data-hover="Contact">Contact</a></li>
                            </ul>
                        </nav>
                        @*<div class="col-sm-7 text-right-sm header-cart">
                            @Html.Action(ActionNames.Index, ControllerNames.UserLinks)
                        </div>*@
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--//Top-Bar-->
    <!--Slider-->
    @Html.Partial("_Slider")
    <!--//Slider-->
</div>
<div class="main" id="main">
<!--//Header-->
    
<!--/about-->
<div class="w3-aglie-about" id="about">
    <div class="container">
        <div class="w3-agile-about-grids">
            <div class="col-md-6 about-left-grid">
                <h4>OUR STORY</h4>
                <h3>ABOUT <span>GERMEDUSA</span>
                </h3>
                <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>Welcome </h5>
                <p> I would like to welcome you to GermedUSA Inc. Our years of experience and industry inside know how, is the key to our quality and affordable instruments, which speak for themselves. For decades GerMedUSA persist to be known to deliver high quality products and services to achieve total customer satisfaction. </p>
                <h5><span><i class="fa fa-check" aria-hidden="true"></i></span>Identity</h5>
                <p>GerMedUSA understands the importance of details when crafting Medical Surgical Instruments and Equipment, therefore our craftsmen are committed to providing life saving products that are safe and effective in the Surgical Instrument industry.</p>
                @*<h5><span><i class="fa fa-check" aria-hidden="true"></i></span>Instruments</h5>
                <p>
                    GerMedUSA has a variety of instrumentation selections for all surgical specialties, Cardiovascular, Gynecological, Micro-Surgical, Neurosurgical, No Scalpel Vasectomy, Plastic Surgery, E.N.T or Dermal Surgical Instruments. GerMedUSA offers a broad range Medical Equipment ,Veterinary Surgical Instruments, for Small and Large Animals such as Emasculators Castrators, Equine Surgical Instruments, Hoof care Instruments, No Scalpel Vasectomy Instruments. GerMedUSA as a wide variety of Left Handed Instruments Surgical and Veterinary. GerMedUSA also carries instruments of Rainbow Color Titanium Coated , and Surgical Instruments, Tungsten Carbide Insert Jaws with Gold Rings Needle Holders and Scissors, Supercuts, Razor, Sharp Scissors with Black Handle, Dental Surgical Instruments, IUD Mini Lap Kits, Student Dissecting Kits, Single Use Sterile Economy Surgical Instruments, Fiber Optic Laryngoscopes, Diagnostic Sets, Otto scope, Ophthalmoscope Sets, Laparoscopy, Arthroscopy, Thoracoscopy and MIS Instruments. 
                </p>*@
                <h6><a href="/c-39-operating-room-surgical-instruments.aspx">view Products</a></h6>
            </div>
            <div class="col-md-6 about-right-grid">
                <h4>OUR STORY</h4>
                <h3>Why<span>CHOOSE</span>US
                </h3>
                <h5>You can always count on GerMedUSA, Inc to manufacture your instruments or tool for any surgical procedure you desire. You may send us your own design drawing for any surgical instrument and we will help you manufacturing. All of GerMedUSA Surgical instruments Veterinary or Dental Instruments are LIFETIME WARRANTEE. We look forward to providing you with great service as well as informing you of our wonderful offers. To find out more or to place an order, please feel free to contact our Customer Service Department.please feel free to contact our Customer Service Department. please feel free to contact our Customer Service Department. please feel free to contact our Customer Service Department.</h5>
                <h6><a href="/t-about.aspx">know more</a></h6>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//about-->
    
<div class="container">
    <!-- Contents start -->
    @RenderBody()
    <!-- Contents end -->
</div>
<!--/services-->
    @Html.Partial("_Services")
<!--//services-->
<!-- Categories -->
@Html.Partial("_Categories")
<!-- //Locations -->
<!-- Downloads -->
@Html.Partial("_Downloads")
<!-- //Portfolio -->
<!--//NEWS-->
@Html.Partial("_News")
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <!-- Modal1 -->
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Snow tour</h4>
                <img src="~/Skins/TekSpace/snow/images/m1.jpg" alt=" " class="img-responsive">
                <h5>Lorem Ipsum</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <!-- Modal1 -->
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Snow tour</h4>
                <img src="~/Skins/TekSpace/snow/images/m2.jpg" alt=" " class="img-responsive">
                <h5>Lorem Ipsum</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3-->
<!--/contact-->
<!--contact-->
@Html.Partial("_Contact")
<!--//contact-->
<!--//contact-->
<!-- subscribe -->
    @*@Html.Partial("_Subscribe")*@
<!-- //subscribe -->
<div class="w3-footer">
    <div class="W3-footer-grids">
        <div class="col-md-6 footer-left-icons">
            <ul>
                <li><a href="https://www.facebook.com/GerMedUSA/"><i class="fa fa-facebook" target="_blank"></i></a></li>
                <li><a href="https://twitter.com/germedusa" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/user/GerMedUSA"><i class="fa fa-youtube" target="_blank"></i></a></li>
                <li><a href="https://plus.google.com/107809282793087305813"><i class="fa fa-google-plus" target="_blank"></i></a></li>
            </ul>

        </div>
        <div class="col-md-6 footer-right">
            <ul>
                <li><a href="#news" class="scroll" data-hover="News">News</a></li>
                @*<li><a href="#price" class="scroll" data-hover="Price List">Price List</a></li>*@
                <li><a href="#contact" class="scroll" data-hover="Contact">Contact</a></li>
            </ul>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- copyright -->
<div class="copyright-agile">
    <p>&copy; 2017 GerMedUSA Inc. All rights reserved | Powered by <a href="http://www.rbtekspace.com" target="_blank">TEK SPACE ™</a>
    </p>
</div>
<!-- //copyright -->
</div>
<!-- js -->
<script type="text/javascript" src="~/Skins/TekSpace/snow/js/jquery-2.1.4.min.js"></script>
<script src="~/Skins/TekSpace/snow/js/responsiveslides.min.js"></script>
<script>
    $(function() {
        $("#slider").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 1000,
            namespace: "callbacks",
            before: function() {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function() {
                $('.events').append("<li>after event fired.</li>");
            }
        });
    });
</script>

<!-- Calendar -->
<link rel="stylesheet" href="~/Skins/TekSpace/snow/css/jquery-ui.css"/>
<script src="~/Skins/TekSpace/snow/js/jquery-ui.js"></script>
<script>
    $(function() {
        $("#datepicker,#datepicker1").datepicker();
    });
</script>
<!-- //Calendar -->
<!-- Portfolio-Popup-Box-JavaScript -->
<script src="~/Skins/TekSpace/snow/js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function() {
        $('.w3portfolioaits-item a').Chocolat();
    });
</script>
<!-- //Portfolio-Popup-Box-JavaScript -->
<!-- Tour-Locations-JavaScript -->
<script src="~/Skins/TekSpace/snow/js/classie.js"></script>
<script src="~/Skins/TekSpace/snow/js/helper.js"></script>
<script src="~/Skins/TekSpace/snow/js/grid3d.js"></script>
<script>
    new grid3D(document.getElementById('grid3d'));
</script>
<!-- //Tour-Locations-JavaScript -->
<script src="~/Skins/TekSpace/snow/js/SmoothScroll.min.js"></script>
<!-- smooth scrolling-bottom-to-top -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling-bottom-to-top -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/Skins/TekSpace/snow/js/move-top.js"></script>
<script type="text/javascript" src="~/Skins/TekSpace/snow/js/easing.js"></script>
<script type="text/javascript" src="~/Skins/TekSpace/snow/js/bootstrap-3.1.1.min.js"></script>
@Html.Partial("_BodyClose")
</body>
</html>